<div class=" w-100 animated fadeIn">
  <div class="position-relative">
      <attendant-top class="position-absolute pl-4 pr-4 pt-3 pb-2 bg-light toplst"></attendant-top>
      <tabset>
          <tab>
            <ng-template tabHeading>List View</ng-template>
            <div class="padngTp">
              <attendant-list></attendant-list>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>Tabular View</ng-template>
            <div class="padngTp">
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>Calendar View</ng-template>
            <div class="padngTp">
            </div>
          </tab>
        </tabset>
  </div>
</div>
