<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card ">
              <div class="card-body p-4">
                <h3 class="display-5 text-center w-100">Login</h3>
                <form  class="login-form "  #login="ngForm" (ngSubmit)="onSubmit(login)" novalidate>
                    <mat-form-field class="d-block">
                      <input matInput placeholder="Username" type="text" required  autocomplete="username" name="username" #username="ngModel" ngModel>
                    </mat-form-field>
                    <mat-form-field class="d-block">
                      <input matInput placeholder="Password"  type="password"  autocomplete="current-password" required name="password" ngModel>
                    </mat-form-field>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary"  mat-button>Login</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer ">
                  <div class="text-center w-100">
                    <button class="btn btn-icon " (click)="googleAuth()"> <i class="fa fa-google pr-2"></i> Google</button>
                    <!-- <button class="btn btn-icon " (click)="facebookAuth()"> <i class="fa fa-facebook pr-2"></i> Facebook</button> -->
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
