<div class="animated fadeIn">
  
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex pb-2 pt-2 border-bottom justify-content-space-between align-items-center ">
            <div class="left-content">
              <i class="fa fa-clock-o pr-2"></i>
              <p class="d-inline"> Pending Leave Approval</p>
            </div>
            <div class="right-content "> 
              <div class="lf-circle bg-info">
                2
              </div>
            </div>
          </div>
          <div class="d-flex pb-2 pt-2 border-bottom justify-content-space-between align-items-center ">
            <div class="left-content">
              <i class="fa fa-birthday-cake pr-2"></i>
              <p class="d-inline"> Upcoming Birthday</p>
            </div>
            <div class="right-content "> 
              <div class="lf-circle bg-danger">
                2
              </div>
            </div>
          </div>
          <div class="d-flex pb-2 pt-2  justify-content-space-between align-items-center ">
            <div class="left-content">
              <i class="fa fa-credit-card  pr-2"></i>
              <p class="d-inline"> Empty Alert</p>
            </div>
            <div class="right-content "> 
              <div class="lf-circle bg-success">
                2
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex pb-2 pt-2 border-bottom justify-content-space-between align-items-center ">
            <div class="left-content">
              <i class="fa fa-id-card pr-2"></i>
              <p class="d-inline"> Document Not Submitted</p>
            </div>
            <div class="right-content "> 
              <div class="lf-circle bg-danger">
                2
              </div>
            </div>
          </div>
          <div class="d-flex pb-2 pt-2 border-bottom  justify-content-space-between align-items-center ">
            <div class="left-content">
              <i class="fa fa-suitcase pr-2"></i>
              <p class="d-inline">Job Opening</p>
            </div>
            <div class="right-content "> 
              <div class="lf-circle bg-primary">
                2
              </div>
            </div>
          </div>
          <div class="d-flex pb-2 pt-2 justify-content-space-between align-items-center ">
            <div class="left-content">
              <i class="fa fa-pencil  pr-2"></i>
              <p class="d-inline">Attandance Not Mark</p>
            </div>
            <div class="right-content "> 
              <div class="lf-circle bg-warning">
                2
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-4 animate fadeIn">
  <i class="fa fa-tachometer pr-2"></i>
  <h2 class="display-6 d-inline">Dashboard</h2>
</div>

<div class="animate fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-center flex-wrap">
        <div class="col text-center d-flex justify-content-center p-4">
          <a href="#" class="lf-circle xx-lf-center bg-primary">
            <div class="text-center text-white">
              <i class="fa fa-users"></i>
              <h3 class="display-6">
                Organization
              </h3>
            </div>
          </a>
        </div>
        <div class="col text-center d-flex justify-content-center p-4">
          <a href="#" class="lf-circle xx-lf-center bg-info">
            <div class="text-center text-white">
              <i class="fa fa-clock-o"></i>
              <h3 class="display-6">
                Leave
              </h3>
            </div>
          </a>
        </div>
        <div class="col text-center d-flex justify-content-center p-4">
          <a href="#" class="lf-circle xx-lf-center bg-dark">
            <div class="text-center text-white">
              <i class="fa fa-user-plus"></i>
              <h3 class="display-6">
                Recruitment
              </h3>
            </div>
          </a>
        </div>
        <div class="col text-center d-flex justify-content-center p-4">
          <a href="#" class="lf-circle xx-lf-center bg-success">
            <div class="text-center text-white">
              <i class="fa fa-plane"></i>
              <h3 class="display-6">
                Travel
              </h3>
            </div>
          </a>
        </div>
        <div class="col text-center d-flex justify-content-center p-4">
          <a href="#" class="lf-circle xx-lf-center bg-danger">
            <div class="text-center text-white">
              <i class="fa fa-file-text "></i>
              <h3 class="display-6">
                Payroll
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>