.lf-circle{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.left-content{
  i{
    font-size: 20px !important;
  }
}

.xx-lf-center{
  width: 160px;
  height: 160px;
  text-decoration: none;
  box-shadow: 0 8px 12px rgba(0,0,0,.4);
  i{
    font-size: 30px !important;
  }
}